.terraform
*.retry
packer/ec2_amazon-ebs.pem
terraform/.vagrant
.*.swp
*.tfstate
*.tfstate.backup
.kitchen
packer/*.log
backup
packer/logs/
outputs
._*
ansible/roles/
venv
logs
fpm/node-v0.6.0
fpm/*.tar.gz*
shell/build
terraform/build
.platform-up

